<!DOCTYPE html>
<html lang="en">
<head>
    <title>ESRGC - @Page.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/client/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/client/lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/client/css/less/site.min.css" rel="stylesheet" />
    <link href="~/client/css/stickyFooter.css" rel="stylesheet" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/client/js/jquery-1.8.2.min.js"></script>
    <script src="~/client/js/modernizr-2.6.2.js"></script>
    <script src="~/client/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/client/lib/font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="page-content">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="~/index">MD LiDAR</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="~/index">Overview</a></li>
                            <li><a href="~/topographyViewer">Topography Viewer</a></li>
                            <li><a href="~/statewide">Statewide Services</a></li>
                            <li><a href="~/countywide">Countywide Services</a></li>
                            <li><a href="~/faq">FAQ</a></li>
                        </ul>

                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
            <div class="container">
                <header class="page-header">
                    <h3>@Page.Title</h3>
                </header>
            </div>
            @RenderBody()
        </div>
        <div class="push"></div>
    </div>
    <div class="container">
        <footer class="footer">
            <div>
                <a href="http://esrgc.org">
                    <img src="~/client/images/esrgc.png" alt="" /></a>
            </div>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $(function() {
            $('.navbar a').filter(function() {
                return this.href == window.location;
            }).parent().addClass('active');
        });
    </script>
</body>
</html>
