@{
    Page.Title = "County Wide Services";
    Layout = "_SiteLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="inline-container">
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/K8tqrC">
                        <div class="title">
                            <h4>Allegany</h4>
                        </div>
                        <img src="~/client/images/countywide/allegany-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/Kywy0t">
                        <div class="title">
                            <h4>Anne Arundel</h4>
                        </div>
                        <img src="~/client/images/countywide/annearundel-small.jpg" alt="" />
                    </a>
                </div>

                <div class="placeholder-panel topography-image">
                    <a @*target="_blank"*@ href="http://bit.ly/KysRYz">
                        <div class="title">
                            <h4>Baltimore</h4>
                        </div>
                        <img src="~/client/images/countywide/baltimore-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/K8sP96">
                        <div class="title">
                            <h4>Baltimore City</h4>
                        </div>
                        <img src="~/client/images/countywide/baltimorecity-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/KyqLrw">
                        <div class="title">
                            <h4>Calvert</h4>
                        </div>
                        <img src="~/client/images/countywide/calvert-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/Kyql4H">
                        <div class="title">
                            <h4>Caroline</h4>
                        </div>
                        <img src="~/client/images/countywide/caroline-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/KyplgM">
                        <div class="title">
                            <h4>Carroll</h4>
                        </div>
                        <img src="~/client/images/countywide/carroll-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/KyoDA2">
                        <div class="title">
                            <h4>Cecil</h4>
                        </div>
                        <img src="~/client/images/countywide/cecil-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/KynXuI">
                        <div class="title">
                            <h4>Charles</h4>
                        </div>
                        <img src="~/client/images/countywide/charles-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/KymWmc">
                        <div class="title">
                            <h4>Dorchester</h4>
                        </div>
                        <img src="~/client/images/countywide/dorchester-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/1dwApCq">
                        <div class="title">
                            <h4>Frederick</h4>
                        </div>
                        <img src="~/client/images/countywide/frederick-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/1dwxZDO">
                        <div class="title">
                            <h4>Garrett</h4>
                        </div>
                        <img src="~/client/images/countywide/garrett-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/1diMDUp">
                        <div class="title">
                            <h4>Harford</h4>
                        </div>
                        <img src="~/client/images/countywide/harford-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/1dwx7zb">
                        <div class="title">
                            <h4>Howard</h4>
                        </div>
                        <img src="~/client/images/countywide/howard-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/JZ4ouU">
                        <div class="title">
                            <h4>Kent</h4>
                        </div>
                        <img src="~/client/images/countywide/kent-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/1eJn0sM">
                        <div class="title">
                            <h4>Montgomery</h4>
                        </div>
                        <img src="~/client/images/countywide/montgomery-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/1diKBDV">
                        <div class="title">
                            <h4>Prince Georges</h4>
                        </div>
                        <img src="~/client/images/countywide/princegeorges-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/JZ1W7E">
                        <div class="title">
                            <h4>Queen Anne's</h4>
                        </div>
                        <img src="~/client/images/countywide/queenannes-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/JZ1kyU">
                        <div class="title">
                            <h4>Somerset</h4>
                        </div>
                        <img src="~/client/images/countywide/somerset-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/K8sh37">
                        <div class="title">
                            <h4>St. Mary's</h4>
                        </div>
                        <img src="~/client/images/countywide/stmarys-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/JZ0x11">
                        <div class="title">
                            <h4>Talbot</h4>
                        </div>
                        <img src="~/client/images/countywide/talbot-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/JYZEVZ">
                        <div class="title">
                            <h4>Washington</h4>
                        </div>
                        <img src="~/client/images/countywide/washington-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/1aj3TGI">
                        <div class="title">
                            <h4>Washington DC</h4>
                        </div>
                        <img src="~/client/images/countywide/washingtondc-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/K8rRKf">
                        <div class="title">
                            <h4>Wicomico</h4>
                        </div>
                        <img src="~/client/images/countywide/wicomico-small.jpg" alt="" />
                    </a>
                </div>
                <div class="placeholder-panel topography-image">
                    <a target="_blank" href="http://bit.ly/JYYWrT">
                        <div class="title">
                            <h4>Worcester</h4>
                        </div>
                        <img src="~/client/images/countywide/worcester-small.jpg" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
