@{
    Page.Title = "LiDAR Overview";
    Layout = "_SiteLayout.cshtml";
}
@section scripts {
    <script type="text/javascript">
        $(function() {
            $(document).on('click', '#fqaToggle a', function(e) {
                e.preventDefault();
                $(this).addClass('hidden-content');
                $(this).siblings().removeClass('hidden-content');
                if ($(this).attr('data-toggle') == 'expand')
                    $('#fqa .panel-collapse').collapse('show');
                else
                    $('#fqa .panel-collapse').collapse('hide');
            });
        });
    </script>
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is LiDAR?</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <blockquote>
                            <div>
                                LiDAR, which stands for Light Detection and Ranging, is a remote sensing method 
                            that uses light in the form of a pulsed laser to measure ranges (variable distances) 
                            to the Earth. These light pulses combined with timing and locational data recorded 
                            by the laser system generate precise, three-dimensional information about the shape 
                            of the Earth and its surface characteristics.
                            </div>
                            <div>
                                A LiDAR instrument principally consists of a laser, a scanner, and a specialized
                            GPS receiver. Airplanes and helicopters are the most commonly used platforms for
                            acquiring LiDAR data over broad areas. Ground based systems are used for site 
                            level mapping, and mobile van based systems are used for corridor or transportation 
                            network mapping.  Two types of LiDAR are topographic and bathymetric. Topographic 
                            LiDAR typically uses a near-infrared laser to map the land, while bathymetric LiDAR 
                            uses water-penetrating green light and higher intensity pulses to also measure 
                            seafloor and riverbed elevations. 
                            </div>
                            <small><cite><a target="_blank" href="http://oceanservice.noaa.gov/facts/lidar.html">What Is LIDAR? National
                                Oceanic and Atmospheric Administration, 22 Jan. 2013.</a>.</cite></small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Status Map</h4>
            <div class="placeholder-panel">
                <a href="http://bit.ly/K6MSFA" target="_blank">
                    <img src="~/client/images/acquisition_overlay.jpg" alt="" id="statusMapImg" />
                </a>
            </div>
        </div>
    </div>
</div>
